// FONT STYLES

* {
    font-family: "Roboto", sans-serif;;
}

// FONT SIZING ADJUSTMENTS

// HERO IMAGE SECTION

#heroMainText h1{
    font-size: 6rem;
}

#heroMainText h2{
    font-size: 3.4rem;
}

#heroMainText h4 {
    font-size: 2rem;
}

//PROJECTS SECTION

#portfolioTitle {
    font-size: 2.5rem;
}

.projectBottomSection h3 {
    font-size: 2rem;
    margin-bottom: 0.2%;
    margin-top: 2%;
    @include mq("m") {
        font-size: 1.5rem;
    }
}

.projectBottomSection h4 {
    font-size: 1.5rem;
    margin-top: 3%;
    @include mq("m") {
        font-size: 1.2rem;
        margin-top: 0px;
    }
}

//CONTACT SECTION

#contactPara1 h2 {
    font-size: 3.85rem;
}

#contactPara1 p, #contactPara2 p {
    font-size: 1.5rem;
}

#contactPara2 h3 {
    font-size: 1.7rem;
}

#contactPara2 #myNumber {
    font-size: 2.5rem;
}

input {
    font-size: 2.7rem;
}

#messageBox {
    font-size: 2.7rem;
}

#formSubmit {
    font-size: 1.7rem;
}

#backToTop h4 {
    font-size: 1.5rem;
}

//FONT COLORS

// HERO IMAGE SECTION

#heroSection {
    color: $primaryTextColor;
}

// PROJECT SECTION

#portfolioTitle {
    color: white;
}