// FONT STYLES

* {
    font-family: "Roboto", sans-serif;;
}

// FONT SIZING ADJUSTMENTS

// HERO IMAGE SECTION

#heroMainText h1{
    @include mq("s") {
        font-size: 4.5rem;
    }
    @include mq("m") {
        font-size: 7rem;
    }
    @include mq("l") {
        font-size: 8.2em;
    }
    @include mq("xl") {
        font-size: 9rem;
    }
}

#heroMainText h2{
    @include mq("s") {
        font-size: 2.5rem;
    }
    @include mq("m") {
        font-size: 4rem;
    }
    @include mq("l") {
        font-size: 4.5rem;
    }
    @include mq("xl") {
        font-size: 5.5rem;
    }
}

#heroMainText .jsText {
    font-size: 1.85rem;
    @include mq("m") {
        font-size: 3.7rem;
    }
    @include mq("l") {
        font-size: 4.3rem;
    }
    @include mq("xl") {
        font-size: 5rem;
    }
}

#heroMainText h4 {
    font-size: 2rem;
}

// MOBILE NAV BAR

#mobileMenuBars {
    font-size: 3rem;
}

#mobileNavBar h3 {
    font-size: 2rem;
}

// SIDEBAR

#sNavBarTopSection {
    font-size: 2.5rem;
    @include mq("xl") {
        font-size: 3.5rem;
    }
}

#sNavBarTopSection a:hover {
    font-size: 3rem;
    @include mq("xl") {
        font-size: 4rem;
    }
}

#sNavBarMidSection {
    @include mq("xl") {
        font-size: 1.1rem;
    }
}

#sNavBarMidSection a:hover {
    font-size: 1.67rem;
    @include mq("xl") {
        font-size: 1.3rem;
    }
}


#sNavBarBottomSection {
    font-size: 1.3rem;
    font-weight: bold;
    @include mq("xl") {
        font-size: 1.4rem;
    }
}

#sNavBarBottomSection a:hover {
    font-size: 1.8rem;
    @include mq("xl") {
        font-size: 1.7rem;
    }
}

//PROJECTS SECTION

#portfolioTitle {
    font-size: 2.5rem;
    @include mq("s") {
        font-size: 2.1rem;
    }
    @include mq("xl") {
        font-size: 4rem;
    }
}

.projectBottomSection h3 {
    font-size: 2rem;
    margin-bottom: 0.2%;
    margin-top: 2%;
    @include mq("s") {
        font-size: 1rem;
    }
    @include mq("m") {
        font-size: 1.5rem;
    }
    @include mq("l") {
        font-size: 1.3rem;
    }
    @include mq("xl") {
        font-size: 2.2rem;
    }
}

.projectBottomSection h4 {
    font-size: 1.5rem;
    margin-top: 3%;
    @include mq("s") {
        font-size: 0.8rem;
    }
    @include mq("m") {
        font-size: 1.2rem;
        margin-top: 0px;
    }
    @include mq("l") {
        font-size: 1rem;
        margin-top: -5px;
    }
    @include mq("xl") {
        font-size: 1.7rem;
        margin-top: 6%;
        margin-bottom: 5%;
    }
}

//CONTACT SECTION

#contactPara1 h2 {
    font-size: 3.85rem;
    @include mq("l") { 
        font-size: 3.2rem;
    }
    @include mq("xl") {
        font-size: 4rem;
    }
}

#contactPara1 p, #contactPara2 p {
    font-size: 1.5rem;
    @include mq("l") { 
        font-size: 1.3rem;
    }
    @include mq("xl") {
        font-size: 1.7rem;
    }
}

#contactPara2 h3 {
    font-size: 1.7rem;
    @include mq("s") { 
        font-size: 1.3rem;
    }
    @include mq("l") { 
        font-size: 1.4rem;
    }
    @include mq("xl") {
        font-size: 2rem;
    }
}

#contactPara2 #myNumber {
    font-size: 2.5rem;
    @include mq("l") { 
        font-size: 2.3rem;
    }
    @include mq("xl") {
        font-size: 2rem;
    }
}

#contactPara2 a.contactInfo:hover h3 {
    font-size: 1.8rem;
    @include mq("l") { 
        font-size: 1.6rem;
    }
    @include mq("xl") {
        font-size: 2.1rem;
    }
}

input {
    font-size: 2.7rem;
    @include mq("s") { 
        font-size: 1.4rem;
    }

    @include mq("l") { 
        font-size: 1.8rem;
    }
}

#messageBox {
    font-size: 2.7rem;
    @include mq("s") { 
        font-size: 1.4rem;
    }
    @include mq("l") { 
        font-size: 1.8rem;
    }
}

#formSubmit {
    font-size: 1.7rem;
}

#backToTop h4 {
    font-size: 1.5rem;
}

// ABOUT ME SECTION

#aboutMeContainer h2 {
    font-size: 2.5rem;
}

#aboutMeContainer p {
    font-size: 1rem;
    @include mq("m") { 
        font-size: 1.4rem;
    }

}

.fa-brands {
    font-size: 1.75rem;
}

// CODING EXAMPLES SECTION

#codeExamplesContainer h2 {
    @include mq("l") { 
        font-size: 2.5rem;
    }
}

// SCS SECTION

#scsSection h2 {
    font-size: 2rem;

    @include mq("l") { 
        font-size: 2.5rem;
    }
}

#scsSection h3 {
    font-size: 1.5rem;

    @include mq("l") { 
        font-size: 2rem;
    }
}

#scsSection p {
    font-size: 1.3rem;

    @include mq("l") { 
        font-size: 1.6rem;
    }
    @include mq("xl") { 
        font-size: 1.8rem;
    }
    @media only screen and (min-width: 1779px) {
        font-size: 2.2rem;
      }
}


//FONT COLORS

//global

a {
    color: white;
}

a:visited {
    color: white;
}

// HERO IMAGE SECTION

#heroSection {
    color: $primaryTextColor;
}

// BURGER MENU SECTION 

#menuBars {
    color: $primaryColor;
}

//  SIDEBAR SECTION

#sideNavBarSection a:visited, #sideNavBarSection a {
    color: white;
}

#sideNavBarSection {
    color: white;
}

#sideNavBarSection a:visited {
    color: white;
}

// PROJECT SECTION

#portfolioTitle, .projectItem, .projectItem a {
    color: white;
}

// CONTACT SECTION

#contactSection {
    color: white;
}

#contactSection input, #contactSection textarea, #formSubmit {
    color: white;
}

// ABOUT ME SECTION

#aboutMeSection {
    color: white;
}

// CODE EXAMPLES SECTION

#codeExamplesSection {
    color: white;
}

#scsSection {
    color: white;
}