// FONT STYLES

* {
    font-family: "Roboto", sans-serif;;
}

// FONT SIZING ADJUSTMENTS

// HERO IMAGE SECTION

#heroMainText h1{
    font-size: 6rem;
}

#heroMainText h2{
    font-size: 3.4rem;
}

#heroMainText h4 {
    font-size: 2rem;
}

// SIDEBAR

#sNavBarTopSection {
    font-size: 2.5rem;
}

#sNavBarTopSection a:hover {
    font-size: 3rem;
}

#sNavBarMidSection a:hover {
    font-size: 1.67rem;
}


#sNavBarBottomSection {
    font-size: 1.3rem;
    font-weight: bold;
}

#sNavBarBottomSection a:hover {
    font-size: 1.8rem;
}

//PROJECTS SECTION

#portfolioTitle {
    font-size: 2.5rem;
}

.projectBottomSection h3 {
    font-size: 2rem;
    margin-bottom: 0.2%;
    margin-top: 2%;
    @include mq("m") {
        font-size: 1.5rem;
    }
    @include mq("l") {
        font-size: 1.3rem;
    }
}

.projectBottomSection h4 {
    font-size: 1.5rem;
    margin-top: 3%;
    @include mq("m") {
        font-size: 1.2rem;
        margin-top: 0px;
    }
    @include mq("l") {
        font-size: 1rem;
        margin-top: -5px;
    }
}

//CONTACT SECTION

#contactPara1 h2 {
    font-size: 3.85rem;
    @include mq("l") { 
        font-size: 3.2rem;
    }
}

#contactPara1 p, #contactPara2 p {
    font-size: 1.5rem;
    @include mq("l") { 
        font-size: 1.3rem;
    }
}

#contactPara2 h3 {
    font-size: 1.7rem;
    @include mq("l") { 
        font-size: 1.4rem;
    }
}

#contactPara2 #myNumber {
    font-size: 2.5rem;
    @include mq("l") { 
        font-size: 2.3rem;
    }
}

#contactPara2 a.contactInfo:hover h3 {
    font-size: 1.8rem;
    @include mq("l") { 
        font-size: 1.6rem;
    }
}

input {
    font-size: 2.7rem;
    @include mq("l") { 
        font-size: 1.8rem;
    }
}

#messageBox {
    font-size: 2.7rem;
    @include mq("l") { 
        font-size: 1.8rem;
    }
}

#formSubmit {
    font-size: 1.7rem;
}

#backToTop h4 {
    font-size: 1.5rem;
}

// ABOUT ME SECTION

#aboutMeContainer h2 {
    font-size: 2.5rem;
}

#aboutMeContainer p {
        font-size: 1.4rem;

}

// CODING EXAMPLES SECTION

#codeExamplesContainer h2 {
    @include mq("l") { 
        font-size: 2.5rem;
    }
}

// SCS SECTION

#scsSection h2 {
    font-size: 2rem;

    @include mq("l") { 
        font-size: 2.5rem;
    }
}

#scsSection h3 {
    font-size: 1.5rem;

    @include mq("l") { 
        font-size: 2rem;
    }
}

#scsSection p {
    font-size: 1.3rem;

    @include mq("l") { 
        font-size: 1.8rem;
    }
}


//FONT COLORS

//global

a {
    color: white;
}

a:visited {
    color: white;
}

// HERO IMAGE SECTION

#heroSection {
    color: $primaryTextColor;
}

//  SIDEBAR SECTION

#sideNavBarSection a:visited, #sideNavBarSection a {
    color: white;
}

#sideNavBarSection {
    color: white;
}

#sideNavBarSection a:visited {
    color: white;
}

// PROJECT SECTION

#portfolioTitle, .projectItem, .projectItem a {
    color: white;
}

// CONTACT SECTION

#contactSection {
    color: white;
}

#contactSection input, #contactSection textarea, #formSubmit {
    color: white;
}

// ABOUT ME SECTION

#aboutMeSection {
    color: white;
}

// CODE EXAMPLES SECTION

#codeExamplesSection {
    color: white;
}

#scsSection {
    color: white;
}